In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Placement.csv")
data

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:
data.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [4]:
data=pd.get_dummies(data,dtype=int,drop_first=True)

In [5]:
data

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR,status_Placed
0,1,67.00,91.00,58.00,55.0,58.80,270000.0,1,1,1,1,0,0,1,0,1,1
1,2,79.33,78.33,77.48,86.5,66.28,200000.0,1,0,1,0,1,0,1,1,0,1
2,3,65.00,68.00,64.00,75.0,57.80,250000.0,1,0,0,0,0,0,0,0,0,1
3,4,56.00,52.00,52.00,66.0,59.43,NaN,1,0,0,0,1,0,1,0,1,0
4,5,85.80,73.60,73.30,96.8,55.50,425000.0,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,80.60,82.00,77.60,91.0,74.49,400000.0,1,1,1,1,0,0,0,0,0,1
211,212,58.00,60.00,72.00,74.0,53.62,275000.0,1,1,1,0,1,0,1,0,0,1
212,213,67.00,67.00,73.00,59.0,69.72,295000.0,1,1,1,1,0,0,0,1,0,1
213,214,74.00,66.00,58.00,70.0,60.23,204000.0,0,1,1,1,0,0,0,0,1,1
214,215,62.00,58.00,53.00,89.0,60.22,NaN,1,0,1,0,1,0,0,0,1,0

In [6]:
data['salary'].fillna(data['salary'].mode()[0],inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_7340\3301739963.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['salary'].fillna(data['salary'].mode()[0],inplace=True)

In [7]:
data.isna().sum()

sl_no                    0
ssc_p                    0
hsc_p                    0
degree_p                 0
etest_p                  0
mba_p                    0
salary                   0
gender_M                 0
ssc_b_Others             0
hsc_b_Others             0
hsc_s_Commerce           0
hsc_s_Science            0
degree_t_Others          0
degree_t_Sci&Tech        0
workex_Yes               0
specialisation_Mkt&HR    0
status_Placed            0
dtype: int64

In [8]:
data.shape

(215, 17)

In [9]:
data.columns

Index(['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary',
       'gender_M', 'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce',
       'hsc_s_Science', 'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
       'specialisation_Mkt&HR', 'status_Placed'],
      dtype='object')

In [10]:
indep=data[[ 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'status_Placed',
            'gender_M', 'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce',
            'hsc_s_Science', 'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
            'specialisation_Mkt&HR']]
indep

,ssc_p,hsc_p,degree_p,etest_p,mba_p,status_Placed,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR
0,67.00,91.00,58.00,55.0,58.80,1,1,1,1,1,0,0,1,0,1
1,79.33,78.33,77.48,86.5,66.28,1,1,0,1,0,1,0,1,1,0
2,65.00,68.00,64.00,75.0,57.80,1,1,0,0,0,0,0,0,0,0
3,56.00,52.00,52.00,66.0,59.43,0,1,0,0,0,1,0,1,0,1
4,85.80,73.60,73.30,96.8,55.50,1,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,80.60,82.00,77.60,91.0,74.49,1,1,1,1,1,0,0,0,0,0
211,58.00,60.00,72.00,74.0,53.62,1,1,1,1,0,1,0,1,0,0
212,67.00,67.00,73.00,59.0,69.72,1,1,1,1,1,0,0,0,1,0
213,74.00,66.00,58.00,70.0,60.23,1,0,1,1,1,0,0,0,0,1
214,62.00,58.00,53.00,89.0,60.22,0,1,0,1,0,1,0,0,0,1

In [11]:
dep=data[['salary']]
dep

       salary
0    270000.0
1    200000.0
2    250000.0
3    300000.0
4    425000.0
..        ...
210  400000.0
211  275000.0
212  295000.0
213  204000.0
214  300000.0

[215 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [13]:
from sklearn.feature_selection import SelectKBest,f_regression
from sklearn.feature_selection import chi2
#from sklearn.frature_selection import RFE
sk=SelectKBest(score_func=f_regression, k=5)
fite=sk.fit_transform(X_train,Y_train)
fite1=sk.transform(X_test)

C:\Users\ADMIN\anaconda3\envs\DS\lib\site-packages\sklearn\utils\validation.py:1310: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [15]:
import pickle
file="stand1.sav"
pickle.dump([sc],open(file,"wb"))
res1=pickle.load(open("stand1.sav","rb"))

In [16]:
from sklearn.svm import SVR
regressor=SVR()
regressor.fit(fite,Y_train)

C:\Users\ADMIN\anaconda3\envs\DS\lib\site-packages\sklearn\utils\validation.py:1310: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [17]:
y_pred=regressor.predict(fite1)

In [18]:
from sklearn.metrics import r2_score
r2score=r2_score(Y_test,y_pred)
r2score

-0.2548141973459763

In [19]:
import pickle
filename="stand2.sav"

In [20]:
pickle.dump(regressor,open(filename,"wb"))
loaded=pickle.load(open("stand2.sav","rb"))
res2=loaded.predict([[66.0,99.0,58.0,66.0,1]])
res2

array([299998.95617022])